@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
@include font-face("pokemon-gb", '../fonts/pokemon-gb/pokemon-gb');

$modal-background: #f0f0f0;
$blastoise: blue;
$charizard: red;
$venusaur: green;
$pikachu: yellow;

body {
  background-color: #f0f0f0;
}

.container {
  @include outer-container();
  background-color: white;
  width: 550px;
  border-radius: 3px;
  margin-top: 100px;
}

.trainer-hp-bar-label {
  font-family: "pokemon-gb";
  position: absolute;
  bottom: 50px;
  margin-bottom: em(2);
  font-size: em(11);
  top: 38px;
  left: 37px;
  font-weight: bold;
  color: black;
}

.enemy-hp-bar-label {
  font-family: "pokemon-gb";
  position: absolute;
  margin-bottom: em(2);
  font-size: em(11);
  top: 38px;
  font-weight: bold;
  color: black;
}

.fighting-pokemon-container {
  width: 500px;
  margin-left: 25px;
  @include clearfix;
  position: relative;
  top: 15px;
}

.trainer-container {
  @include fill-parent();
  position: relative;
  height: 200px;
  top: -150px;
}

.trainer-image-container{
  @include span-columns(4 of 8);
  height: 200px;
}

.trainer-stats{
  @include span-columns(4 of 8);
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  border-bottom-right-radius: 3px;
  height: 80px;


  h1 {
    font-family: "pokemon-gb";
    position: absolute;
    right: 11px;
    bottom: 45px;
    font-size: em(18);
  }

  h3 {
    font-family: "pokemon-gb";
    position: absolute;
    bottom: 10px;
    top: 55px;
    right: 10px;
  }

  .trainer-hp-bar {
    width: 150px;
    position: absolute;
    right: 8px;
    bottom: 30px;
    height: 11px;
    padding: 3px;
    background: black;
    border-radius: 8px;

    .trainer-bar {
      width: 100%;
      height: 5px;
      border-radius: 8px;
      background: RGBA(90, 245, 173, 1);
      transition: all 0.3s ease-in-out;
    }
  }
}

.enemy-container {
  @include fill-parent();
  position: relative;
  height: 200px;
}

.enemy-stats{
  @include span-columns(4 of 8);
  position: absolute;
  top: 0;
  margin-top: 10px;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  border-bottom-left-radius: 3px;
  padding: 10px;
  height: 80px;

  h1 {
    font-family: "pokemon-gb";
    position: absolute;
    bottom: 45px;
    margin-bottom: em(2);
    left: 13px;
    font-size: em(18);
  }

  h3 {
    font-family: "pokemon-gb";
    position: absolute;
    top: 56px;
    left: 13px;
  }

  .enemy-hp-bar {
    width: 150px;
    position: absolute;
    bottom: 30px;
    left: 44px;
    height: 11px;
    padding: 3px;
    background: black;
    border-radius: 8px;

    .enemy-bar {
      width: 100%;
      height: 5px;
      border-radius: 8px;
      background: RGBA(90, 245, 173, 1);
      transition: all 0.3s ease-in-out;
    }
  }
}

.enemy-image-container {
  @include span-columns(4 of 8);
  @include shift(4);
  height: 200px;
}

.image-container {
  position: relative;

  .enemy-portrait {
    width: 112px;
    position: absolute;
  }

  .friendly-portrait {
    position: absolute;
    bottom: 5%;
  }
}

.trim {
  position: absolute;
  top: 380px;
  z-index: 0;
}

.menu{
  width: 500px;
  margin-left: 25px;
  margin-top: -110px;
  margin-bottom: 10px;
  background-image: url('images/trim.png');
  border-radius: 3px;
  padding: 3px;
  height: 200px;
}

.inner-menu-box {
  width: 487px;
  position: relative;
  background-image: url('images/trim.png');
  border-radius: 3px;
  height: 188px;
  padding: 20px;
  left: 10px;
  font-family: "pokemon-gb";
  z-index: 1;
}

.trainer-triangle {
  position: absolute;
  top: 66px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 6px 20px;
  border-color: transparent transparent #000000 transparent;

}

.enemy-triangle {
  position: absolute;
  right: -5px;

  top:71px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 5px 0 20px;
  border-color: transparent transparent transparent #000000;

}

.player-options {
  position: absolute;
  left: 10px;

  .question {
    margin-bottom: 20px;
  }

  .player-option {
    position: relative;
    margin-left: 15px;
    margin-top: 10px;
    cursor: default;

    .triangle {
      @include triangle(16px 8px, black, right);
      position: absolute;
      left: -15px;
      top: -2px;
      visibility: hidden;
    }

    &:hover .triangle {
      visibility: visible;
    }
  }
}

.combat-text-container {
  width: 400px;
  position: absolute;
  height: 188px;
}

.combat-text {
  white-space: normal;
  width: 460px;
  line-height: 2em;
  margin-top: -10px;
}

.switch-menu {
  position: relative;
  height: 188px;
  width: 500px;
}

.switch-pokemon {
  position: absolute;
  width: 200px;
  height: 85px;
  line-height: 30px;
  margin: 10px;
  padding: 10px;
  cursor: default;

  &.blastoise {
    top: -30px;
    left: -10px;
  }

  &.charizard {
    top: -30px;
    right: 0;
  }

  &.venusaur {
    bottom: 40px;
    left: -10px;
  }

  &.pikachu {
    bottom: 40px;
    right: 0;
  }

  &.back {
    bottom: -30px;
    right: -90px;
  }

  .triangle {
    @include triangle(16px 8px, black, right);
    position: absolute;
    left: -10px;
    top: 13px;
    visibility: hidden;
  }

  &:hover .triangle {
    visibility: visible;
  }
}

.not-active {
  height: 0;
  overflow: hidden;
}

.start-modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $modal-background;
  z-index: 1;
}

.modal-menu {
  width: 550px;
  position: absolute;
  top: 100px;
  height: 500px;
  left: 50%;
  transform: translate(-50%);
  background: white;
  border-radius: 10px;
  padding: 20px;

  >* {
    text-align: center;
  }

  h1 {
    font-size: em(40px);
    margin-bottom: 20px;
  }

  h3 {
    font-size: em(20px);
    line-height: 30px;
  }

  .modal-text {
    margin-top: 150px;
    font-family: "pokemon-gb";
    text-align: left;
    font-size: 15px;
    margin-bottom: 10px;
    margin-left: 30px;
  }

  .modal-text2 {
    font-family: "pokemon-gb";
    text-align: left;
    font-size: 15px;
    margin-left: 30px;
  }

  .modal-pokemons {
    margin: 20px auto 0;
    font-size: em(25px);
    line-height: 40px;
    text-align: left;
    font-family: "pokemon-gb";
    font-size: 15px;
    margin-left: 30px;

    .modal-pokemon {
      margin: 10px;
      max-width: 150px;
      padding-left: 10px;

      &.blastoise:hover {
        background: $blastoise;
        border-bottom: 2px solid black;
      }

      &.charizard:hover {
        background: $charizard;
        border-bottom: 2px solid black;
      }

      &.venusaur:hover {
        background: $venusaur;
        border-bottom: 2px solid black;
      }

      &.pikachu:hover {
        background: $pikachu;
        border-bottom: 2px solid black;
      }
    }
  }
}

.modal-title {
  max-width: 256px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.mewtwo-img {
  position: absolute;
  right: 75px;
  top: 300px;
}

.trainer-img {
  max-height: 50px;
  position: absolute;
  right: 205px;
  top: 385px;
}
