@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
@include font-face("pokemon-gb", '../fonts/pokemon-gb/pokemon-gb');




$max-width: 990px;
$modal-background: black;
$blastoise: blue;
$charizard: red;
$venusaur: green;
$pikachu: yellow;

.container {
  @include outer-container();
}

.fighting-pokemon-container {
  @include span-columns(10);
  @include shift(1);
  @include clearfix;
  position: relative;
  border: 3px solid black;
  border-radius: 5px;
}

.trainer-container {
  @include span-columns(4.5);
  @include shift(.5);
  position: relative;
  height: 400px;

  h1 {
    font-family: "pokemon-gb";
    position: absolute;
    bottom: 50px;

  }

  h3 {
    font-family: "pokemon-gb";
    position: absolute;
    bottom: 50px;
    right: 0;
  }

  .trainer-hp-bar {
    @include fill-parent();
    position: absolute;
    bottom: 10px;
    height: 20px;
    padding: 5px;
    background: black;

    .trainer-bar {
      width: 100%;
      height: 10px;
      background: red;
      transition: all 0.3s ease-in-out;
    }
  }
}

.enemy-container {
  @include span-columns(4.5);
  @include shift(2);
  position: relative;
  height: 400px;

  h1 {
    font-family: "pokemon-gb";
    position: absolute;
    top: 50px;

  }

  h3 {
    font-family: "pokemon-gb";
    position: absolute;
    top: 50px;
    right: 0;
  }

  .enemy-hp-bar {
    @include fill-parent();
    position: absolute;
    top: 10px;
    height: 20px;
    padding: 5px;
    background: black;

    .enemy-bar {
      width: 100%;
      height: 10px;
      background: red;
      transition: all 0.3s ease-in-out;
    }
  }
}

.menu{
  @include span-columns(10);
  @include shift(1);
  margin-top: 20px;
  border: 3px solid black;
  border-radius: 3px;
  padding: 3px;
  height: 200px;
}

.inner-menu-box {
  @include fill-parent();
  position: relative;
  border: 3px solid black;
  border-radius: 3px;
  height: 188px;
  padding: 20px;
  font-family: "pokemon-gb";
}

.player-options {
}

.combat-text-container {
  @include fill-parent();
  height: 188px;
}

.combat-text {
  white-space: nowrap;
}

.not-active {
  height: 0;
  overflow: hidden;
}

.start-modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $modal-background;
}

.modal-menu {
  @include size(400px 400px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 3px solid black;
  border-radius: 10px;
  padding: 20px;

  >* {
    text-align: center;
  }

  h1 {
    font-size: em(40px);
    margin-bottom: 20px;
  }

  h3 {
    font-size: em(20px);
    line-height: 30px;

    span {
      background: chartreuse;
    }
  }

  .modal-pokemons {
    width: 200px;
    margin: 20px auto 0;
    font-size: em(25px);
    line-height: 40px;

    .modal-pokemon {
      margin: 10px;
      border: 2px solid black;
      border-radius: 5px;

      &.blastoise:hover {
        background: $blastoise;
      }

      &.charizard:hover {
        background: $charizard;
      }

      &.venusaur:hover {
        background: $venusaur;
      }

      &.pikachu:hover {
        background: $pikachu;
      }
    }
  }
}
