@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
@include font-face("pokemon-gb", '../fonts/pokemon-gb/pokemon-gb');

$modal-background: black;
$blastoise: blue;
$charizard: red;
$venusaur: green;
$pikachu: yellow;

body {
  background-color: gray;
}

.container {
  @include outer-container();
  background-color: white;
  width: 550px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.trainer-hp-bar-label {
  font-family: "pokemon-gb";
  position: absolute;
  bottom: 50px;
  margin-bottom: em(2);
  font-size: em(11);
  top: 38px;
  left: 37px;
  font-weight: bold;
  color: black;
}

.enemy-hp-bar-label {
  font-family: "pokemon-gb";
  position: absolute;
  margin-bottom: em(2);
  font-size: em(11);
  top: 38px;
  font-weight: bold;
  color: black;
}

.fighting-pokemon-container {
  width: 500px;
  margin-left: 25px;
  @include clearfix;
  position: relative;
  top: 15px;
}

.trainer-container {
  @include fill-parent();
  position: relative;
  height: 200px;
  top: -150px;
}

.trainer-image-container{
  @include span-columns(4 of 8);
  height: 200px;
}

.trainer-stats{
  @include span-columns(4 of 8);
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  border-radius: 3px;
  height: 80px;


  h1 {
    font-family: "pokemon-gb";
    position: absolute;
    right: 11px;
    bottom: 45px;
    font-size: em(18);
  }

  h3 {
    font-family: "pokemon-gb";
    position: absolute;
    bottom: 10px;
    top: 55px;
    right: 10px;
  }

  .trainer-hp-bar {
    width: 150px;
    position: absolute;
    right: 8px;
    bottom: 30px;
    height: 11px;
    padding: 3px;
    background: black;
    border-radius: 8px;

    .trainer-bar {
      width: 100%;
      height: 5px;
      border-radius: 8px;
      background: RGBA(90, 245, 173, 1);
      transition: all 0.3s ease-in-out;
    }
  }
}

.enemy-container {
  @include fill-parent();
  position: relative;
  height: 200px;
}

.enemy-stats{
  @include span-columns(4 of 8);
  position: absolute;
  top: 0;
  margin-top: 10px;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  border-radius: 3px;
  padding: 10px;
  height: 80px;

  h1 {
    font-family: "pokemon-gb";
    position: absolute;
    bottom: 45px;
    margin-bottom: em(2);
    left: 13px;
    font-size: em(18);
  }

  h3 {
    font-family: "pokemon-gb";
    position: absolute;
    top: 56px;
    left: 13px;
  }

  .enemy-hp-bar {
    width: 150px;
    position: absolute;
    bottom: 30px;
    left: 44px;
    height: 11px;
    padding: 3px;
    background: black;
    border-radius: 8px;

    .enemy-bar {
      width: 100%;
      height: 5px;
      border-radius: 8px;
      background: RGBA(90, 245, 173, 1);
      transition: all 0.3s ease-in-out;
    }
  }
}

.enemy-image-container {
  @include span-columns(4 of 8);
  @include shift(4);
  height: 200px;
}

.image-container {
  position: relative;

  .enemy-portrait {
    width: 112px;
    position: absolute;
  }

  .friendly-portrait {
    position: absolute;
    bottom: 5%;
  }
}


.menu{
  width: 500px;
  margin-left: 25px;
  margin-top: -120px;
  margin-bottom: 25px;
  border: 3px solid black;
  border-radius: 3px;
  padding: 3px;
  height: 200px;
}

.inner-menu-box {
  width: 487px;
  position: relative;
  border: 3px solid black;
  border-radius: 3px;
  height: 188px;
  padding: 20px;
  font-family: "pokemon-gb";
}

.trainer-triangle {
  position: absolute;
  top: 71px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 6px 20px;
  border-color: transparent transparent #000000 transparent;

}

.enemy-triangle {
  position: absolute;
  right: 0;
  top: 71px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 0 20px;
  border-color: transparent transparent transparent #000000;

}

.player-options {

  .question {
    margin-bottom: 20px;
  }

  .player-option {
    position: relative;
    margin-left: 15px;

    .triangle {
      @include triangle(16px 8px, black, right);
      position: absolute;
      left: -15px;
      top: -2px;
      visibility: hidden;
    }

    &:hover .triangle {
      visibility: visible;
    }
  }
}

.combat-text-container {
  width: 400px;
  position: absolute;
  height: 188px;
}

.combat-text {
  white-space: normal;
  width: 460px;
  line-height: 2em;
  margin-top: -10px;
}

.not-active {
  height: 0;
  overflow: hidden;
}

.start-modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $modal-background;
}

.modal-menu {
  @include size(400px 400px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 3px solid black;
  border-radius: 10px;
  padding: 20px;

  >* {
    text-align: center;
  }

  h1 {
    font-size: em(40px);
    margin-bottom: 20px;
  }

  h3 {
    font-size: em(20px);
    line-height: 30px;

    span {
      background: chartreuse;
    }
  }

  .modal-pokemons {
    width: 200px;
    margin: 20px auto 0;
    font-size: em(25px);
    line-height: 40px;

    .modal-pokemon {
      margin: 10px;
      border: 2px solid black;
      border-radius: 5px;

      &.blastoise:hover {
        background: $blastoise;
      }

      &.charizard:hover {
        background: $charizard;
      }

      &.venusaur:hover {
        background: $venusaur;
      }

      &.pikachu:hover {
        background: $pikachu;
      }
    }
  }
}
