html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

.container {
  max-width: 990px;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

.fighting-pokemon-container::after {
  clear: both;
  content: "";
  display: table; }

.trainer-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-left: 8.5298%;
  position: relative;
  height: 300px;
  border: 3px solid black;
  border-radius: 3px; }
  .trainer-container:last-child {
    margin-right: 0; }
  .trainer-container h1 {
    position: absolute;
    bottom: 50px; }
  .trainer-container h3 {
    position: absolute;
    bottom: 50px;
    right: 0; }
  .trainer-container .trainer-hp-bar {
    width: 100%;
    position: absolute;
    bottom: 10px;
    height: 20px;
    padding: 5px;
    background: black; }
    .trainer-container .trainer-hp-bar .trainer-bar {
      width: 100%;
      height: 10px;
      background: red;
      transition: all 0.3s ease-in-out; }

.outer-enemy-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-left: 19.4053%;
  margin-right: 0;
  height: 300px;
  border: 3px solid black;
  border-radius: 3px;
  padding: 3px; }
  .outer-enemy-container:last-child {
    margin-right: 0; }

.enemy-container {
  position: relative;
  height: 288px;
  border: 3px solid black;
  border-radius: 3px; }
  .enemy-container h1 {
    position: absolute;
    bottom: 50px; }
  .enemy-container h3 {
    position: absolute;
    bottom: 50px;
    right: 0; }
  .enemy-container .enemy-hp-bar {
    width: 100%;
    position: absolute;
    bottom: 10px;
    height: 20px;
    padding: 5px;
    background: black; }
    .enemy-container .enemy-hp-bar .enemy-bar {
      width: 100%;
      height: 10px;
      background: red;
      transition: all 0.3s ease-in-out; }

.menu {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
  margin-top: 20px;
  border: 3px solid black;
  border-radius: 3px;
  padding: 3px;
  height: 200px; }
  .menu:last-child {
    margin-right: 0; }

.inner-menu-box {
  width: 100%;
  border: 3px solid black;
  border-radius: 3px;
  height: 188px; }
