@import 'bower_components/bourbon/app/assets/stylesheets/bourbon';
@import 'bower_components/neat/app/assets/stylesheets/neat';

$max-width: 990px;

.container {
  @include outer-container();
}

.fighting-pokemon-container {
  @include clearfix;
}

.trainer-container {
  @include span-columns(4);
  @include shift(1);
  position: relative;
  height: 300px;
  border: 3px solid black;
  border-radius: 3px;

  h1 {
    position: absolute;
    bottom: 50px;

  }

  h3 {
    position: absolute;
    bottom: 50px;
    right: 0;
  }

  .trainer-hp-bar {
    @include fill-parent();
    position: absolute;
    bottom: 10px;
    height: 20px;
    padding: 5px;
    background: black;

    .trainer-bar {
      width: 100%;
      height: 10px;
      background: red;
      transition: all 0.3s ease-in-out;
    }
  }
}

.outer-enemy-container {
  @include span-columns(4);
  @include shift(2.275);
  @include omega();
  height: 300px;
  border: 3px solid black;
  border-radius: 3px;
  padding: 3px;
}

.enemy-container {
  position: relative;
  height: 288px;
  border: 3px solid black;
  border-radius: 3px;

  h1 {
    position: absolute;
    bottom: 50px;

  }

  h3 {
    position: absolute;
    bottom: 50px;
    right: 0;
  }

  .enemy-hp-bar {
    @include fill-parent();
    position: absolute;
    bottom: 10px;
    height: 20px;
    padding: 5px;
    background: black;

    .enemy-bar {
      width: 100%;
      height: 10px;
      background: red;
      transition: all 0.3s ease-in-out;
    }
  }
}

.menu{
  @include span-columns(10);
  @include shift(1);
  margin-top: 20px;
  border: 3px solid black;
  border-radius: 3px;
  padding: 3px;
  height: 200px;
}

.inner-menu-box {
  @include fill-parent();
  border: 3px solid black;
  border-radius: 3px;
  height: 188px;
}
