html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

@font-face {
  font-family: "pokemon-gb";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/pokemon-gb/pokemon-gb.eot?#iefix") format("embedded-opentype"), url("../fonts/pokemon-gb/pokemon-gb.woff2") format("woff2"), url("../fonts/pokemon-gb/pokemon-gb.woff") format("woff"), url("../fonts/pokemon-gb/pokemon-gb.ttf") format("truetype"), url("../fonts/pokemon-gb/pokemon-gb.svg#pokemon-gb") format("svg"); }

.container {
  max-width: 990px;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

.fighting-pokemon-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
  position: relative;
  border: 3px solid black;
  border-radius: 5px; }
  .fighting-pokemon-container:last-child {
    margin-right: 0; }
  .fighting-pokemon-container::after {
    clear: both;
    content: "";
    display: table; }

.trainer-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 36.02647%;
  margin-left: 4.2649%;
  position: relative;
  height: 400px; }
  .trainer-container:last-child {
    margin-right: 0; }
  .trainer-container h1 {
    font-family: "pokemon-gb";
    position: absolute;
    bottom: 50px; }
  .trainer-container h3 {
    font-family: "pokemon-gb";
    position: absolute;
    bottom: 50px;
    right: 0; }
  .trainer-container .trainer-hp-bar {
    width: 100%;
    position: absolute;
    bottom: 10px;
    height: 20px;
    padding: 5px;
    background: black; }
    .trainer-container .trainer-hp-bar .trainer-bar {
      width: 100%;
      height: 10px;
      background: red;
      transition: all 0.3s ease-in-out; }

.enemy-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 36.02647%;
  margin-left: 17.05961%;
  position: relative;
  height: 400px; }
  .enemy-container:last-child {
    margin-right: 0; }
  .enemy-container h1 {
    font-family: "pokemon-gb";
    position: absolute;
    top: 50px; }
  .enemy-container h3 {
    font-family: "pokemon-gb";
    position: absolute;
    top: 50px;
    right: 0; }
  .enemy-container .enemy-hp-bar {
    width: 100%;
    position: absolute;
    top: 10px;
    height: 20px;
    padding: 5px;
    background: black; }
    .enemy-container .enemy-hp-bar .enemy-bar {
      width: 100%;
      height: 10px;
      background: red;
      transition: all 0.3s ease-in-out; }

.menu {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
  margin-top: 20px;
  border: 3px solid black;
  border-radius: 3px;
  padding: 3px;
  height: 200px; }
  .menu:last-child {
    margin-right: 0; }

.inner-menu-box {
  width: 100%;
  position: relative;
  border: 3px solid black;
  border-radius: 3px;
  height: 188px;
  padding: 20px;
  font-family: "pokemon-gb"; }

.combat-text-container {
  width: 100%;
  height: 188px; }

.combat-text {
  white-space: nowrap; }

.not-active {
  height: 0;
  overflow: hidden; }

.start-modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black; }

.modal-menu {
  height: 400px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 3px solid black;
  border-radius: 10px;
  padding: 20px; }
  .modal-menu > * {
    text-align: center; }
  .modal-menu h1 {
    font-size: 2.5em;
    margin-bottom: 20px; }
  .modal-menu h3 {
    font-size: 1.25em;
    line-height: 30px; }
    .modal-menu h3 span {
      background: chartreuse; }
  .modal-menu .modal-pokemons {
    width: 200px;
    margin: 20px auto 0;
    font-size: 1.5625em;
    line-height: 40px; }
    .modal-menu .modal-pokemons .modal-pokemon {
      margin: 10px;
      border: 2px solid black;
      border-radius: 5px; }
      .modal-menu .modal-pokemons .modal-pokemon.blastoise:hover {
        background: blue; }
      .modal-menu .modal-pokemons .modal-pokemon.charizard:hover {
        background: red; }
      .modal-menu .modal-pokemons .modal-pokemon.venusaur:hover {
        background: green; }
      .modal-menu .modal-pokemons .modal-pokemon.pikachu:hover {
        background: yellow; }
