html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

@font-face {
  font-family: "pokemon-gb";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/pokemon-gb/pokemon-gb.eot?#iefix") format("embedded-opentype"), url("../fonts/pokemon-gb/pokemon-gb.woff2") format("woff2"), url("../fonts/pokemon-gb/pokemon-gb.woff") format("woff"), url("../fonts/pokemon-gb/pokemon-gb.ttf") format("truetype"), url("../fonts/pokemon-gb/pokemon-gb.svg#pokemon-gb") format("svg"); }

body {
  background-color: gray; }

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 550px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-top: 150px; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

.trainer-hp-bar-label {
  font-family: "pokemon-gb";
  position: absolute;
  bottom: 50px;
  margin-bottom: 0.125em;
  font-size: 0.6875em;
  top: 38px;
  left: 37px;
  font-weight: bold;
  color: black; }

.enemy-hp-bar-label {
  font-family: "pokemon-gb";
  position: absolute;
  margin-bottom: 0.125em;
  font-size: 0.6875em;
  top: 38px;
  font-weight: bold;
  color: black; }

.fighting-pokemon-container {
  width: 500px;
  margin-left: 25px;
  position: relative;
  top: 15px; }
  .fighting-pokemon-container::after {
    clear: both;
    content: "";
    display: table; }

.trainer-container {
  width: 100%;
  position: relative;
  height: 200px;
  top: -150px; }

.trainer-image-container {
  float: left;
  display: block;
  margin-right: 3.57866%;
  width: 48.21067%;
  height: 200px; }
  .trainer-image-container:last-child {
    margin-right: 0; }

.trainer-stats {
  float: left;
  display: block;
  margin-right: 3.57866%;
  width: 48.21067%;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  border-radius: 3px;
  height: 80px; }
  .trainer-stats:last-child {
    margin-right: 0; }
  .trainer-stats h1 {
    font-family: "pokemon-gb";
    position: absolute;
    right: 11px;
    bottom: 45px;
    font-size: 1.125em; }
  .trainer-stats h3 {
    font-family: "pokemon-gb";
    position: absolute;
    bottom: 10px;
    top: 55px;
    right: 10px; }
  .trainer-stats .trainer-hp-bar {
    width: 150px;
    position: absolute;
    right: 8px;
    bottom: 30px;
    height: 11px;
    padding: 3px;
    background: black;
    border-radius: 8px; }
    .trainer-stats .trainer-hp-bar .trainer-bar {
      width: 100%;
      height: 5px;
      border-radius: 8px;
      background: RGBA(90, 245, 173, 1);
      transition: all 0.3s ease-in-out; }

.enemy-container {
  width: 100%;
  position: relative;
  height: 200px; }

.enemy-stats {
  float: left;
  display: block;
  margin-right: 3.57866%;
  width: 48.21067%;
  position: absolute;
  top: 0;
  margin-top: 10px;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  border-radius: 3px;
  padding: 10px;
  height: 80px; }
  .enemy-stats:last-child {
    margin-right: 0; }
  .enemy-stats h1 {
    font-family: "pokemon-gb";
    position: absolute;
    bottom: 45px;
    margin-bottom: 0.125em;
    left: 13px;
    font-size: 1.125em; }
  .enemy-stats h3 {
    font-family: "pokemon-gb";
    position: absolute;
    top: 56px;
    left: 13px; }
  .enemy-stats .enemy-hp-bar {
    width: 150px;
    position: absolute;
    bottom: 30px;
    left: 44px;
    height: 11px;
    padding: 3px;
    background: black;
    border-radius: 8px; }
    .enemy-stats .enemy-hp-bar .enemy-bar {
      width: 100%;
      height: 5px;
      border-radius: 8px;
      background: RGBA(90, 245, 173, 1);
      transition: all 0.3s ease-in-out; }

.enemy-image-container {
  float: left;
  display: block;
  margin-right: 3.57866%;
  width: 48.21067%;
  margin-left: 51.78933%;
  height: 200px; }
  .enemy-image-container:last-child {
    margin-right: 0; }

.image-container {
  position: relative; }
  .image-container .enemy-portrait {
    width: 112px;
    position: absolute; }
  .image-container .friendly-portrait {
    position: absolute;
    bottom: 5%; }

.menu {
  width: 500px;
  margin-left: 25px;
  margin-top: -120px;
  margin-bottom: 25px;
  border: 3px solid black;
  border-radius: 3px;
  padding: 3px;
  height: 200px; }

.inner-menu-box {
  width: 487px;
  position: relative;
  border: 3px solid black;
  border-radius: 3px;
  height: 188px;
  padding: 20px;
  font-family: "pokemon-gb"; }

.trainer-triangle {
  position: absolute;
  top: 71px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 6px 20px;
  border-color: transparent transparent #000000 transparent; }

.enemy-triangle {
  position: absolute;
  right: 0;
  top: 71px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 0 20px;
  border-color: transparent transparent transparent #000000; }

.player-options {
  position: absolute;
  left: 10px; }
  .player-options .question {
    margin-bottom: 20px; }
  .player-options .player-option {
    position: relative;
    margin-left: 15px;
    margin-top: 10px;
    cursor: default; }
    .player-options .player-option .triangle {
      height: 0;
      width: 0;
      border-bottom: 8px solid transparent;
      border-left: 8px solid black;
      border-top: 8px solid transparent;
      position: absolute;
      left: -15px;
      top: -2px;
      visibility: hidden; }
    .player-options .player-option:hover .triangle {
      visibility: visible; }

.combat-text-container {
  width: 400px;
  position: absolute;
  height: 188px; }

.combat-text {
  white-space: normal;
  width: 460px;
  line-height: 2em;
  margin-top: -10px; }

.switch-menu {
  position: relative;
  height: 188px;
  width: 500px; }

.switch-pokemon {
  position: absolute;
  width: 200px;
  height: 85px;
  line-height: 30px;
  margin: 10px;
  padding: 10px;
  cursor: default; }
  .switch-pokemon.blastoise {
    top: -30px;
    left: -10px; }
  .switch-pokemon.charizard {
    top: -30px;
    right: 0; }
  .switch-pokemon.venusaur {
    bottom: 40px;
    left: -10px; }
  .switch-pokemon.pikachu {
    bottom: 40px;
    right: 0; }
  .switch-pokemon.back {
    bottom: -30px;
    right: -90px; }
  .switch-pokemon .triangle {
    height: 0;
    width: 0;
    border-bottom: 8px solid transparent;
    border-left: 8px solid black;
    border-top: 8px solid transparent;
    position: absolute;
    left: -10px;
    top: 13px;
    visibility: hidden; }
  .switch-pokemon:hover .triangle {
    visibility: visible; }

.not-active {
  height: 0;
  overflow: hidden; }

.start-modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black; }

.modal-menu {
  height: 400px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 3px solid black;
  border-radius: 10px;
  padding: 20px; }
  .modal-menu > * {
    text-align: center; }
  .modal-menu h1 {
    font-size: 2.5em;
    margin-bottom: 20px; }
  .modal-menu h3 {
    font-size: 1.25em;
    line-height: 30px; }
    .modal-menu h3 span {
      background: chartreuse; }
  .modal-menu .modal-pokemons {
    width: 200px;
    margin: 20px auto 0;
    font-size: 1.5625em;
    line-height: 40px; }
    .modal-menu .modal-pokemons .modal-pokemon {
      margin: 10px;
      border: 2px solid black;
      border-radius: 5px; }
      .modal-menu .modal-pokemons .modal-pokemon.blastoise:hover {
        background: blue; }
      .modal-menu .modal-pokemons .modal-pokemon.charizard:hover {
        background: red; }
      .modal-menu .modal-pokemons .modal-pokemon.venusaur:hover {
        background: green; }
      .modal-menu .modal-pokemons .modal-pokemon.pikachu:hover {
        background: yellow; }
